<img src="https://orig00.deviantart.net/9123/f/2016/167/8/a/cute_burger_by_bfadraw-da6ip1i.png" alt="pixel burger">
<h1>Eat-Da-Burger</h1>
<div class="flex-container">
    <div>
        <ul class="notDevoured">
            {{#each burgers}} {{#unless devoured}} {{>burgers/burger-block}} {{/unless}} {{/each}}
        </ul>
    </div>
    <div>
        <ul class="Devoured">
            {{#each burgers}} {{#if devoured}} {{>burgers/burger-block}} {{/if}} {{/each}}
        </ul>
    </div>
</div>
<form class="create-form">

    <div class="form-group">
        <textarea name="burger_name" id="bur" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Submit</button>
    <p>Enter a burger you want to eat and click the submit button</p>
</form>